:root {
  --main-color: #313c4e;
}

html {
  font-family: Ubuntu;
  font-size: 16px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

section {
  margin-bottom: 0.6rem;
}

#wrapper {
  width: 21cm;
  height: 29.7cm;
  box-shadow: 0px 0px 15px black;
  padding: 2rem 0;
  padding-right: 0;
}

header {
  display: flex;
  grid-area: header;
  padding-left: 2rem;
  margin-bottom: 1rem;
}

header figure {
  flex-shrink: 0;
  display: block;
  width: 11.75rem;
  margin: 0;
}

header figure div {
  float: left;
  height: 8rem;
  width: 8rem;
  background-image: url("photo-cv.jpg");
  /* border-radius: 100%; */
  background-attachment: local;
  background-position: -1.5rem -3.5rem;
  background-size: 12rem;
  margin: 0 auto;
}

.overall-info {
  background-color: var(--main-color);
  color: white;
  padding: 0.8rem 1rem 0.4rem 1rem;
}

.overall-info>p {
  font-size: 0.8rem;
  margin: 0.6rem 0rem;
}

.overall-info>h1 {
  font-size: 2rem;
}

.overall-info>h3 {
  font-size: 1.2rem;
}

.overall-info>h1,
.overall-info>h3 {
  color: white;
  font-weight: 400;
  margin: 0;
}

.overall-info>h3.position {
  padding: 0px;
  border-bottom-color: white;
  width: 12.5rem;
}

main {
  display: flex;
}

aside {
  width: 11.75rem;
  padding-left: 2rem;
  font-size: 0.75rem;
  flex-shrink: 0;
}

article {
  padding-right: 2rem;
}

article>section {
  margin-bottom: 2rem;
}

article>section>* {
  margin-left: 1rem;
}

.section_name {
  font-size: 1.3rem;
  padding: 0px 1rem;
  border-bottom: 1px solid black;
}

.projects li {
  /* list-style-type: "□"; */
  list-style-type: square;
}

.projects ul {
  margin: 0 1rem 1rem 1rem;
}

h1,
h2 {
  margin: 0rem 0rem 0.3rem 0rem;
  color: var(--main-color);
}

h3 {
  font-weight: normal;
  margin: 0;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}
